# SPDX-FileCopyrightText: Copyright (c) 2021-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
REPO_ROOT = { script = [
  "dirname $(cargo locate-project --message-format plain --workspace)",
] }
PKG_VERSION = { script = [
  "echo $(git describe --tags --first-parent --always --long | sed 's/^v//')",
] }

[tasks.package-component-local]
run_task = "package-component"
dependencies = [
  { name = "build-component-local", path = "./Makefile-build.toml" },
]

[tasks.package-component-in-container]
run_task = "package-component"
dependencies = [
  { name = "build-component-in-container", path = "./Makefile-build.toml" },
]

[tasks.package-component]
category = "Build"
description = "Build the .deb package"
workspace = false
script = '''
    if [ "${CARBIDE_ARCH}" = "x86_64" ]
    then
        DEB_ARCH="amd64"
    else
        DEB_ARCH="arm64"
    fi

    PACKAGE_BIN=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[] | select(any(.; .name == "'${CARBIDE_CRATE}'")) | .targets[] | select(any(.kind[]; . == "bin")) | .name')
    if [ -z "$PACKAGE_BIN" ]
    then
      echo "Could not determine binary for package ${CARBIDE_PACKAGE}"
      exit 1
    fi
    MISC_DIR=${CARBIDE_CRATE_DIR}/misc
    DEB_CONFIG_DIR=${MISC_DIR}/DEBIAN
    : "${INSTALL_DIR:=/opt/forge}"
    if [ ! -d ${DEB_CONFIG_DIR} ]
    then
      echo "Cannot package ${CARBIDE_PACKAGE}.  No package configuration"
      exit 1
    fi

    echo "creating package for ${CARBIDE_ARCH} ${CARBIDE_PACKAGE} (${PACKAGE_BIN}) (${PKG_VERSION}) with install path ${INSTALL_DIR}"
    WORKING_DIR="${REPO_ROOT}/target/${CARBIDE_ARCH}-unknown-linux-gnu/${PACKAGE_BIN}_${PKG_VERSION}_${DEB_ARCH}"
    mkdir -p "${WORKING_DIR}/lib/systemd/system"
    mkdir -p "${WORKING_DIR}${INSTALL_DIR}"
    cp "${REPO_ROOT}/target/${CARBIDE_ARCH}-unknown-linux-gnu/${CARBIDE_PROFILE}/${PACKAGE_BIN}" "${WORKING_DIR}${INSTALL_DIR}"
    cp ${MISC_DIR}/*.service "${WORKING_DIR}/lib/systemd/system/"
    cp -r ${DEB_CONFIG_DIR} "${WORKING_DIR}/"
    echo 'Package: '${CARBIDE_PACKAGE}'
Version: '${PKG_VERSION}'
Section: base
Priority: optional
Architecture: '${DEB_ARCH}'
Maintainer: Forge team <swngc-forge-dev@nvidia.com>
Description: Forge scout for performaing hardware discovery
' > ${WORKING_DIR}/DEBIAN/control
    mkdir -p ${REPO_ROOT}/target/debs/
    dpkg-deb --build --root-owner-group ${WORKING_DIR} ${REPO_ROOT}/target/debs/${PACKAGE_BIN}_${PKG_VERSION}_${DEB_ARCH}.deb
'''
