- op: add
  path: /spec/template/spec/volumes/0
  value:
    name: boot-artifacts
    emptyDir: {}
- op: add
  path: /spec/template/spec/containers/0/volumeMounts/0
  value:
    name: boot-artifacts
    mountPath: /forge-boot-artifacts/blobs/internal

- op: add
  path: /spec/template/spec/containers/0
  value:
    name: boot-artifacts-x86-64
    image: yourdockerregistry.com/path/to/boot-artifacts-x86_64:latest
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /x86_64 /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: boot-artifacts-aarch64
    image: yourdockerregistry.com/path/to/boot-artifacts-aarch64:latest
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /aarch64 /forge-boot-artifacts/blobs/internal; cp -r /apt /forge-boot-artifacts/blobs/internal; cp -r /firmware /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal

# We keep this image around to still provide access to the previous
# qcow-imager.efi/root binaries for backward compatibility, this should be
# removed once we've confifmed nobody uses it
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: legacy-boot-artifacts-x86-64
    image: yourdockerregistry.com/path/to/boot-artifacts-x86_64:v2023.11-rc1-16-gf7aebdcc
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "mkdir -vp /forge-boot-artifacts/blobs/internal/x86_64 && cp -fr /x86_64/qcow-imaging* /forge-boot-artifacts/blobs/internal/x86_64; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
- op: add
  path: /spec/template/spec/containers/0
  value:
    name: machine-validation-artifacts-config
    image: yourdockerregistry.com/path/to/nvmetal-scout-burn-in:1.3.0
    imagePullPolicy: IfNotPresent
    command: ["/bin/sh"]
    args: ["-c", "cp -r /machine-validation /forge-boot-artifacts/blobs/internal; trap : TERM INT; sleep 9999999999d & wait"]
    volumeMounts:
      - name: boot-artifacts
        mountPath: /forge-boot-artifacts/blobs/internal
