apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: carbide-ssh-console-rs
      app.kubernetes.io/component: ssh-console-rs
    includeSelectors: true
    includeTemplates: true

resources:
  - service.yaml
  - certificate.yaml
  - deployment.yaml
  - metrics-service.yaml
  - role.yaml
  - rolebinding.yaml
  - service-account.yaml

configMapGenerator:
  - name: ssh-console-rs-config-files
    files:
      - config-files/config.toml
  - name: ssh-console-rs-otelcol-config
    files:
      - config.yaml=config-files/otelcol-config.yaml

generators:
  - ./ssh-host-key-secret-generator.yaml

generatorOptions:
  disableNameSuffixHash: true
