apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/name: carbide-pxe
      app.kubernetes.io/component: pxe
    includeSelectors: true
    includeTemplates: true

resources:
  - certificate.yaml
  - deployment.yaml
  - metrics-service.yaml
  - role.yaml
  - rolebinding.yaml
  - service-account.yaml
  - service.yaml
