name: Carbide Promotion to Release Candidate

on:
  workflow_call:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
      short_sha:
        description: 'Short SHA'
        required: true
        type: string
jobs:
  # ============================================================================
  # PROMOTE TO RELEASE CANDIDATE
  # ============================================================================
  qa-promote-to-release-candidate:
    runs-on: linux-amd64-cpu4
    environment:
      name: promote-release-candidate
    steps:
      - name: QA promote to release candidate
        run: echo "QA promoting to release candidate registry nvcr.io/0837451325059433/carbide"  


  # ============================================================================
  # ReTag To Release Candidate - Application Image
  # ============================================================================
  promote-carbide-core-release-candidate:
    needs:
      - qa-promote-to-release-candidate
    uses: NVIDIA/dsx-github-actions/.github/workflows/promote-image.yml@95e609360851cfc141918c2c21e57762d77394ac
    with:
      source: nvcr.io/0837451325059433/carbide-dev/nvmetal-carbide
      source_tag: ${{ inputs.version }}
      destination: nvcr.io/0837451325059433/carbide/nvmetal-carbide
      destination_tag: ${{ inputs.version }}
    secrets:
      SOURCE_USERNAME: ${{ secrets.NVCR_USERNAME }}
      SOURCE_PASSWORD: ${{ secrets.NVCR_TOKEN }}
      DEST_USERNAME: ${{ secrets.NVCR_PROD_USERNAME }}
      DEST_PASSWORD: ${{ secrets.NVCR_PROD_TOKEN }}

  # ============================================================================
  # ReTag To Release Candidate - Artifacts Image (aarch64)
  # ============================================================================
  promote-artifacts-aarch64-release-candidate:
    needs:
      - qa-promote-to-release-candidate
    uses: NVIDIA/dsx-github-actions/.github/workflows/promote-image.yml@95e609360851cfc141918c2c21e57762d77394ac
    with:
      source: nvcr.io/0837451325059433/carbide-dev/carbide-release-artifacts-aarch64
      source_tag: ${{ inputs.version }}
      destination: nvcr.io/0837451325059433/carbide/carbide-release-artifacts-aarch64
      destination_tag: ${{ inputs.version }}
    secrets:
      SOURCE_USERNAME: ${{ secrets.NVCR_USERNAME }}
      SOURCE_PASSWORD: ${{ secrets.NVCR_TOKEN }}
      DEST_USERNAME: ${{ secrets.NVCR_PROD_USERNAME }}
      DEST_PASSWORD: ${{ secrets.NVCR_PROD_TOKEN }}

  # ============================================================================
  # ReTag To Release Candidate - Artifacts Image (x86_64)
  # ============================================================================
  promote-artifacts-x86_64-release-candidate:
    needs:
      - qa-promote-to-release-candidate
    uses: NVIDIA/dsx-github-actions/.github/workflows/promote-image.yml@95e609360851cfc141918c2c21e57762d77394ac
    with:
      source: nvcr.io/0837451325059433/carbide-dev/carbide-release-artifacts-x86_64
      source_tag: ${{ inputs.version }}
      destination: nvcr.io/0837451325059433/carbide/carbide-release-artifacts-x86_64
      destination_tag: ${{ inputs.version }}
    secrets:
      SOURCE_USERNAME: ${{ secrets.NVCR_USERNAME }}
      SOURCE_PASSWORD: ${{ secrets.NVCR_TOKEN }}
      DEST_USERNAME: ${{ secrets.NVCR_PROD_USERNAME }}
      DEST_PASSWORD: ${{ secrets.NVCR_PROD_TOKEN }}
